# 1.把圖片集中在同一個資料夾（Training validation Testing 不能混和) 
# 2.集中後的圖片輸出dataframe->計算發病年
# 3.根據發病年分別將檔案放入對應的資料夾

In [141]:
#1. move together

File = 'validation'

import os
import shutil

# Training validation Testing
# source_folder = '/home/john/network/RETFound/data/dataset/Testing'
# destination_folder = '/home/john/network/RETFound/data/Image_collection/Testing'

source_folder = '/home/john/network/RETFound/data/dataset/' + File
destination_folder = '/home/john/network/RETFound/data/Image_collection/' + File


def move_file(source_folder,destination_folder):
    count = 0
    for root,sub,files in os.walk(source_folder):
        for file in files:
            source_folder_path = os.path.join(root,file)
            destination_file_path = os.path.join(destination_folder,file)
            shutil.copy2(source_folder_path,destination_file_path)
            count += 1
    print("Image files number: ",count)

move_file(source_folder,destination_folder)
print("Done")

Image files number:  587
Done

In [142]:
import pandas as pd

In [143]:
df_csv = pd.read_csv('/home/john/network/RETFound/data/csv/202301-0616共照網個案_Wei_1130.csv')
df_csv

,病歷號,年齡,性別,fundoscope(共做過幾次),1st fundo (date),2nd fundo (date),3rd fundo (date),4rd fundo (date),5rd fundo (date),6rd fundo (date),...,運動種類,運動頻率分/次,運動頻率次/週,衛教檢驗日期,飲食,藥物認識,運動的目的及注意事項,生病時的照顧,自我監測,指導注射技巧
0,4314535,64,1,14.0,20080415,20090210.0,20100205.0,20110419.0,20120424.0,20130618.0,...,NaN,NaN,NaN,2023/03/03,NaN,NaN,NaN,NaN,NaN,NaN
1,4069957,69,1,8.0,20051215,20150506.0,20170202.0,20171225.0,20190116.0,20200422.0,...,NaN,NaN,NaN,2023/04/12,NaN,NaN,NaN,NaN,NaN,NaN
2,4386971,71,2,3.0,20200214,20210414.0,20220801.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/01/17,NaN,NaN,NaN,NaN,NaN,NaN
3,4845785,53,1,3.0,20200811,20211202.0,20230119.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/01/18,NaN,NaN,NaN,NaN,NaN,NaN
4,4132852,60,2,4.0,20180117,20181002.0,20200226.0,20221028.0,NaN,NaN,...,NaN,NaN,NaN,2023/05/29,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,4241840,69,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/06/06,NaN,NaN,1.0,NaN,NaN,NaN
1303,1795454,62,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,2685764,64,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1305,3807636,56,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306,2231493,72,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/06/14,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
import warnings
warnings.filterwarnings("ignore")

In [145]:
# check ID 

# Training validation Testing
# Fudus_File = '/home/john/network/RETFound/data/Image_collection/Testing'
Fudus_File = '/home/john/network/RETFound/data/Image_collection/' + File
# 過濾出圖片對應的 outcome 欄位

file_list = os.listdir(Fudus_File)
dataframe = pd.DataFrame(columns=df_csv.columns)

for filename in file_list:

    for i in range(0,len(filename)):
        if filename[i] == '-' :
            found = True
            break
    
    if found:
        match = False

        for j in range(0, len(df_csv['病歷號'])):
            if filename[0:i] == str(df_csv['病歷號'][j]):
                new_row = df_csv.iloc[j]
                dataframe = dataframe.append(new_row,ignore_index = True)
                match = True
                
        if not match:
                    print(f"Not found : {filename[0:i]}")

In [146]:
dataframe

,病歷號,年齡,性別,fundoscope(共做過幾次),1st fundo (date),2nd fundo (date),3rd fundo (date),4rd fundo (date),5rd fundo (date),6rd fundo (date),...,運動種類,運動頻率分/次,運動頻率次/週,衛教檢驗日期,飲食,藥物認識,運動的目的及注意事項,生病時的照顧,自我監測,指導注射技巧
0,2310298,60,1,6.0,20180615,20190610.0,20200703.0,20211020.0,20220708.0,20230928.0,...,NaN,NaN,NaN,2023/04/07,NaN,NaN,NaN,NaN,NaN,NaN
1,2310298,60,1,6.0,20180615,20190610.0,20200703.0,20211020.0,20220708.0,20230928.0,...,NaN,NaN,NaN,2023/04/07,NaN,NaN,NaN,NaN,NaN,NaN
2,4862513,65,1,6.0,20160413,20170906.0,20181107.0,20191009.0,20201118.0,20220722.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4561443,64,2,7.0,20160808,20171120.0,20190408.0,20200325.0,20210407.0,20220829.0,...,NaN,NaN,NaN,2023/05/29,NaN,NaN,NaN,NaN,NaN,NaN
4,4359773,66,2,8.0,20170209,20170913.0,20180720.0,20190725.0,20201110.0,20220124.0,...,NaN,NaN,NaN,2023/04/14,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582,4212574,66,2,15.0,20060110,20070410.0,20080711.0,20091014.0,20101207.0,20120221.0,...,NaN,NaN,NaN,2023/03/28,NaN,NaN,NaN,NaN,NaN,NaN
583,7012850,30,1,2.0,20220429,20231018.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/03/22,NaN,NaN,NaN,NaN,NaN,NaN
584,4074823,64,2,7.0,20160704,20170915.0,20181121.0,20191204.0,20210224.0,20220308.0,...,NaN,NaN,NaN,2023/04/10,NaN,NaN,NaN,NaN,NaN,NaN
585,4828302,71,1,5.0,20190905,20200804.0,20210827.0,20221025.0,20231011.0,NaN,...,NaN,NaN,NaN,2023/04/25,NaN,NaN,NaN,NaN,NaN,NaN
586,4516549,36,2,3.0,20210512,20220412.0,20230113.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/01/13,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
columns_keep = ['病歷號','hyperlipidemia (0或1)','年齡','性別','HTN (0或1)','BMI','血壓-收縮壓 (mmHg)','血壓-輸張壓 (mmHg)','糖化血色素 (%)','發病起始年']

dataframe = dataframe[columns_keep]
dataframe = dataframe.rename(columns = 
                                    {'病歷號':'ID','hyperlipidemia (0或1)':'hyperlipidemia','年齡':'Age','性別':'Gender','HTN (0或1)':'HTN',
                                    '血壓-收縮壓 (mmHg)':'SP','血壓-輸張壓 (mmHg)':'DP','糖化血色素 (%)':'HbA1c','發病起始年':'Years'})

In [148]:
dataframe

          ID hyperlipidemia Age Gender HTN    BMI     SP    DP  HbA1c   Years
0    2310298              1  60      1   0  26.45  142.0  77.0    7.1  2018.0
1    2310298              1  60      1   0  26.45  142.0  77.0    7.1  2018.0
2    4862513              0  65      1   0  18.98  127.0  67.0    7.7  2002.0
3    4561443              1  64      2   0  20.38  123.0  71.0    7.9  2011.0
4    4359773              1  66      2   0  24.24  124.0  78.0    7.4  1993.0
..       ...            ...  ..    ...  ..    ...    ...   ...    ...     ...
582  4212574              1  66      2   0  22.67  146.0  72.0    7.1  1998.0
583  7012850              1  30      1   0  41.91  134.0  82.0    7.5  2022.0
584  4074823              1  64      2   1  20.71  108.0  54.0    7.9  1999.0
585  4828302              1  71      1   1  33.49   98.0  54.0    6.7  2016.0
586  4516549              1  36      2   0  32.25  141.0  76.0    6.6  2021.0

[587 rows x 10 columns]

In [149]:
dataframe.to_csv("/home/john/network/RETFound/data/csv/" + File + ".csv",index=False)

In [150]:
import csv

In [151]:
# replace ID to Image name

# csv_file = '/home/john/network/RETFound/data/csv/Testing_.csv'
csv_file = "/home/john/network/RETFound/data/csv/" + File + "_.csv"
header = ['ID','Gender']

with open(csv_file,'w',newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)


# Loading Fundus Images
# ImageFilePath = '/home/john/network/RETFound/data/Image_collection/Testing/'
ImageFilePath = '/home/john/network/RETFound/data/Image_collection/' + File + '/'

ImageFileNames = [filename for filename in os.listdir(ImageFilePath)]

# csv_file_outcome = '/home/john/network/RETFound/data/csv/Testing.csv'  #Patient_2521(+Year).csv  Patient_2521.csv
csv_file_outcome = '/home/john/network/RETFound/data/csv/' + File + '.csv'  #Patient_2521(+Year).csv  Patient_2521.csv

df = pd.read_csv(csv_file_outcome)

# image_folder = '/home/john/network/RETFound/data/Image_collection/Testing/'
image_folder = '/home/john/network/RETFound/data/Image_collection/' + File + '/'

image_filenames = [filename for filename in os.listdir(image_folder)]
df['ID'] = image_filenames

df.to_csv(csv_file,index=False)

In [152]:
# Testing = pd.read_csv('/home/john/network/RETFound/data/csv/Training_.csv')
csvFile = pd.read_csv('/home/john/network/RETFound/data/csv/' + File + '_.csv')
csvFile

,ID,hyperlipidemia,Age,Gender,HTN,BMI,SP,DP,HbA1c,Years
0,2310298-05-L-20220708.jpg,1,60,1,0,26.45,142.0,77.0,7.1,2018.0
1,2310298-02-R-20190610.jpg,1,60,1,0,26.45,142.0,77.0,7.1,2018.0
2,4862513-06-R-20220722.jpg,0,65,1,0,18.98,127.0,67.0,7.7,2002.0
3,4561443-07-L-20231106.jpg,1,64,2,0,20.38,123.0,71.0,7.9,2011.0
4,4359773-04-R-20190725.jpg,1,66,2,0,24.24,124.0,78.0,7.4,1993.0
...,...,...,...,...,...,...,...,...,...,...
582,4212574-03-R-20080711.jpg,1,66,2,0,22.67,146.0,72.0,7.1,1998.0
583,7012850-02-L-20231018.jpg,1,30,1,0,41.91,134.0,82.0,7.5,2022.0
584,4074823-06-L-20220308.jpg,1,64,2,1,20.71,108.0,54.0,7.9,1999.0
585,4828302-04-L-20221025.jpg,1,71,1,1,33.49,98.0,54.0,6.7,2016.0
586,4516549-03-L-20230113.jpg,1,36,2,0,32.25,141.0,76.0,6.6,2021.0

# Years

In [119]:
csvFile['Howlong'] = ""


for i in range(len(csvFile.ID)):
    csvFile['Howlong'][i] =    int(csvFile.ID[i][-12:-8] ) - csvFile.Years[i]

In [120]:
csvFile

,ID,hyperlipidemia,Age,Gender,HTN,BMI,SP,DP,HbA1c,Years,Howlong
0,7058722-01-R-20161004.jpg,1.0,68,2,1.0,26.30,150.0,81.0,6.2,2011.0,5
1,4342722-03-R-20210420.jpg,1.0,68,2,1.0,28.04,159.0,71.0,5.9,2018.0,3
2,4581664-03-L-20181205.jpg,1.0,69,1,0.0,24.92,133.0,83.0,5.9,2015.0,3
3,4144646-04-R-20170524.jpg,1.0,73,2,1.0,31.11,134.0,75.0,8.6,2014.0,3
4,4073719-01-R-20160122.jpg,1.0,79,2,0.0,25.51,134.0,64.0,7.8,2000.0,16
...,...,...,...,...,...,...,...,...,...,...,...
800,4051308-05-L-20211110.jpg,1.0,72,2,1.0,27.12,126.0,56.0,7.2,2014.0,7
801,4065766-01-R-20111215.jpg,1.0,84,2,0.0,18.58,138.0,67.0,6.2,2009.0,2
802,4523833-05-R-20210322.jpg,1.0,47,2,0.0,20.65,140.0,84.0,6.8,2004.0,17
803,4200607-03-L-20200629.jpg,1.0,52,2,0.0,25.46,119.0,65.0,9.3,1996.0,24
804,4073719-08-R-20230710.jpg,1.0,79,2,0.0,25.51,134.0,64.0,7.8,2000.0,23

# Age (outcome Age --> 2023)

In [153]:
csvFile['RealAge'] = ""

for i in range(len(csvFile.ID)):
    
    if int(csvFile.ID[i][-12:-8]) == 2023:
        csvFile['RealAge'] [i] = csvFile['Age'][i]
    
    else:
        csvFile['RealAge'] [i] = csvFile['Age'][i] - (2023 - int(csvFile.ID[i][-12:-8] ))

In [154]:
csvFile

,ID,hyperlipidemia,Age,Gender,HTN,BMI,SP,DP,HbA1c,Years,RealAge
0,2310298-05-L-20220708.jpg,1,60,1,0,26.45,142.0,77.0,7.1,2018.0,59
1,2310298-02-R-20190610.jpg,1,60,1,0,26.45,142.0,77.0,7.1,2018.0,56
2,4862513-06-R-20220722.jpg,0,65,1,0,18.98,127.0,67.0,7.7,2002.0,64
3,4561443-07-L-20231106.jpg,1,64,2,0,20.38,123.0,71.0,7.9,2011.0,64
4,4359773-04-R-20190725.jpg,1,66,2,0,24.24,124.0,78.0,7.4,1993.0,62
...,...,...,...,...,...,...,...,...,...,...,...
582,4212574-03-R-20080711.jpg,1,66,2,0,22.67,146.0,72.0,7.1,1998.0,51
583,7012850-02-L-20231018.jpg,1,30,1,0,41.91,134.0,82.0,7.5,2022.0,30
584,4074823-06-L-20220308.jpg,1,64,2,1,20.71,108.0,54.0,7.9,1999.0,63
585,4828302-04-L-20221025.jpg,1,71,1,1,33.49,98.0,54.0,6.7,2016.0,70
586,4516549-03-L-20230113.jpg,1,36,2,0,32.25,141.0,76.0,6.6,2021.0,36

# LABELS

In [155]:
import cv2

In [156]:
labels_path = 'dataset_Age'

In [157]:
#input
# image_folder_py = '/home/john/network/RETFound/data/Image_collection/Testing' 
image_folder_py = '/home/john/network/RETFound/data/Image_collection/' + File 

#output

# Image_file_route = '/home/john/network/RETFound/data/model_data/dataset_Years/' + File
Image_file_route = '/home/john/network/RETFound/data/model_data/' + labels_path +'/' + File

output_directory_Long = Image_file_route + '/Long/'
output_directory_NotLong = Image_file_route + '/NotLong'

output_directory_1 = Image_file_route + '/1'
output_directory_2 = Image_file_route + '/2'

output_directory_old = Image_file_route + '/old'
output_directory_Notold = Image_file_route + '/Notold'

In [158]:
Image_file_route

'/home/john/network/RETFound/data/model_data/dataset_Age/validation'

# Gender

In [98]:
NaNCount = 0

for i in range(0,len(csvFile.ID)):

    if csvFile.Gender	[i] == 1:
        filename = csvFile.ID[i]
        image_path = os.path.join(image_folder_py,filename)
        image = cv2.imread(image_path)
        output_path = os.path.join(output_directory_1, filename)
        cv2.imwrite(output_path, image)
    
    elif csvFile.Gender	[i] == 2:
        filename = csvFile.ID[i]
        image_path = os.path.join(image_folder_py,filename)
        image = cv2.imread(image_path)
        output_path = os.path.join(output_directory_2, filename)
        cv2.imwrite(output_path, image)

    else:
        NaNCount += 1


print("NaN count : ",NaNCount)
print("Done")

NaN count :  0
Done

# Years

In [54]:
NaNCount = 0

for i in range(0,len(csvFile.ID)):

    if csvFile.Howlong[i] >= 10.0:
        filename = csvFile.ID[i]
        image_path = os.path.join(image_folder_py,filename)
        image = cv2.imread(image_path)
        output_path = os.path.join(output_directory_Long, filename)
        cv2.imwrite(output_path, image)
    
    elif csvFile.Howlong[i] < 10.0:
        filename = csvFile.ID[i]
        image_path = os.path.join(image_folder_py,filename)
        image = cv2.imread(image_path)
        output_path = os.path.join(output_directory_NotLong, filename)
        cv2.imwrite(output_path, image)

    else:
        NaNCount += 1


print("NaN count : ",NaNCount)
print("Done")

NaN count :  14
Done

# Age

In [159]:
NaNCount = 0

for i in range(0,len(csvFile.ID)):

    if csvFile.RealAge[i] >= 65:
        filename = csvFile.ID[i]
        image_path = os.path.join(image_folder_py,filename)
        image = cv2.imread(image_path)
        output_path = os.path.join(output_directory_old, filename)
        cv2.imwrite(output_path, image)
    
    elif csvFile.RealAge[i] < 65:
        filename = csvFile.ID[i]
        image_path = os.path.join(image_folder_py,filename)
        image = cv2.imread(image_path)
        output_path = os.path.join(output_directory_Notold, filename)
        cv2.imwrite(output_path, image)

    else:
        NaNCount += 1


print("NaN count : ",NaNCount)
print("Done")

NaN count :  0
Done